.overall {
    display: flex;
}

.content__right {
    display: flex;
    flex-direction: column;
    width: calc(100% - clamp(172px, 17vw, 232px));
}

.header__container {
    padding-right: 32px;
    margin-left: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.headerbox__right {
    position: sticky;
    right: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__mobile {
    display: none;
}

@media(max-width: 1279px) {
    .header__container {
        margin-left: 60px;
    }
}

@media(max-width: 768px) {
    .overall {
        flex-direction: column-reverse;
        min-height: 100vh;
    }

    .content__right {
        width: min(100%, 768px);
        flex: 1;
    }

    .header__container {
        margin: 0;
        padding-inline: clamp(16px, 6vw, 64px);
        position: unset;
        flex-direction: row-reverse;
    }

    .header__container h3 {
        display: none;
    }

    .header__logo__mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
}
