.overall {
    display: flex;
}

.content__right {
    display: flex;
    flex-direction: column;
    width: calc(100% - clamp(172px, 17vw, 232px));
}

.header__container {
    padding-right: 32px;
    margin-left: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.headerbox__right {
    position: sticky;
    right: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}
