.board__navigator {
  width: 100%;
  height: 232px;
  padding: 8px 10px;
}

.board__navigator .search__and__addTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__and__addTasks p {
  font-family: "Inter";
  font-size: 61px;
  font-weight: 700;
  color: #000000;
}
.inputicon__addButton {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 500px;
  height: 48px;
  align-items: center;
}

.add__button {
  font-family: "Inter";
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px 8px 16px;

  background-color: #2a3647;
  color: #ffff;
  border: 1px;
  border-radius: 10px;
  width: 160px;
  height: 48px;
}
.add__icon {
  width: 18px;
  height: 18px;
}

.search__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background: #ffff;
  width: 312px;
  height: 48px;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  cursor: pointer;

  width: Fixed (312px) px;

  gap: 10px;
}
.search__area input {
  border: none;
  padding: 8px;
  cursor: pointer;
}

.search__area span {
  border: none;
  background: #ffff;
  width: 100px;
  height: 40px;
  font-size: 26px;
  padding: 8px;
  font-weight: 400;
}

.search__icon,
img {
  width: 48px;
  height: 32px;
  color: #d9d9d9;
  border-radius: 5px;
}
