.h3_help{
    font-weight: bold;
}

.join{
    color: #42b4e4;
    display: inline;
}

.main__help{
    max-width: 1200px;
}

.headline_help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.back_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 32px;
    height: 32px;
    position: relative;
}

.back_button:hover .thin_back_button {
   display: none;
}

.back_button:hover .thick_back_button {
    display: block;
 }

.thick_back_button {
    display: none;
}

.container_1{
    margin-bottom: 24px;
}

.what_is_join{
    margin-bottom: 24px;
}

ol {
    counter-reset: list-counter;
    padding-left: 0;
}

ol li {
    counter-increment: list-counter;
    margin-bottom: 20px;
    list-style: none;
    display: flex; 
    align-items: flex-start; 
}

ol li::before {
    content: counter(list-counter) "."; 
    display: inline-block;
    font-size: 2em; 
    font-weight: bold; 
    color: #333; 
    margin-right: 15px; 
    min-width: 30px; 
}

::-webkit-scrollbar {
    width: 0; 
    background: #F6F7F8; 
}


